h1 {
    color: blue;

    
}


.input-group {
    height:24px;
    border:none;
    background-color: blueviolet;
    border-radius: 8px;
    
    
label{

    font-family: Arial, Helvetica, sans-serif